@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



@keyframes girlMove {
  0% {
    transform: translateX(calc(100% + 100vw));
  }
  50% {
    transform: translateX(calc(-100% - 100vw));
  }
  50.01% {
    transform: translateX(calc(-100% - 100vw)) rotateY(180deg);
  }
  100% {
    transform: translateX(calc(100% + 100vw)) rotateY(180deg);
  }
}

@keyframes leafFall {
  0% {
    opacity: 0;
    top: -10%;
    transform: translateX(20px) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  20% {
    transform: translateX(-20px) rotate(45deg);
  }
  40% {
    transform: translateX(-20px) rotate(90deg);
  }
  60% {
    transform: translateX(20px) rotate(180deg);
  }
  80% {
    transform: translateX(-20px) rotate(45deg);
  }
  100% {
    top: 110%;
    transform: translateX(20px) rotate(225deg);
  }
}


/* -----------------------------
   ANIMATION UTILITIES
-------------------------------- */

.animate-girl {
  animation: girlMove 10s linear infinite;
}

.animate-leaf {
  animation-name: leafFall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}



.leaf-1 { left: 20%; animation-duration: 20s; }
.leaf-2 { left: 50%; animation-duration: 14s; }
.leaf-3 { left: 70%; animation-duration: 12s; }
.leaf-4 { left: 5%;  animation-duration: 15s; }
.leaf-5 { left: 85%; animation-duration: 18s; }
.leaf-6 { left: 90%; animation-duration: 12s; }
.leaf-7 { left: 15%; animation-duration: 14s; }
.leaf-8 { left: 60%; animation-duration: 15s; }
